<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= yield(:title) %> </title>
</head>
<body>
	
	<h1>Sample App is a an app sample</h1>
	<p>and so we beat on, boats against the current</p>
</body>
</html>
